Flask>=2.3.0
Werkzeug>=2.3.0
requests
rich
watchdog>=2.1.3
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-SocketIO
gevent
gevent-websocket
ccxt
pandas
scikit-learn
numpy
cryptography
python-dotenv
email_validator
gunicorn

